@import url('https://fonts.cdnfonts.com/css/pf-dindisplay-pro');

@font-face {
    font-family: 'PFDinDisplayPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/PFDinDisplayPro-Regular.woff');
}

@font-face {
    font-family: 'PFDinDisplayPro-Thin';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/PFDinDisplayPro-Thin.woff');
}


@font-face {
font-family: 'PFDinDisplayPro-Bold';
font-style: normal;
font-weight: normal;
src: url('PFDinDisplayPro-Bold.woff');
}

h1 {
    margin: 0;
    text-align: center;
    background: linear-gradient(90deg, #D0B8A8, #8a594e); /* Gradient background */
    color: white;
    position: fixed; 
    top: 0;         
    left: 0;       
    right: 0;    
    font-family: 'PF DinDisplay Pro', sans-serif;
    z-index: 1000;  
    padding: 15px;  
}


.header-icon {
    margin-right: 10px;
    vertical-align: middle; 
    height: 30px; 
    width: 30px; 
}

.underline {
    display: block;
    width: 80%;
    height: 4px;
    background-color: white;
    margin: 10px auto; 
    transition: transform 0.3s; 
}

h1:hover .underline {
    transform: scaleX(1.5);
}

body {
    font-family: 'PFDinDisplayPro-Thin', sans-serif;
    margin: 0px 100px 0px 100px;
    padding-top:100px;
    background-color: #f4f4f4;
    position:relative;
}

body:after {
    content:'';
    background-image: url('assets/all.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    z-index:-1;
    opacity: 0.2; 
}

h2 {
    color: #333;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
}

.temp-low {
    color: red; /* Red for low temperature */
}

.temp-normal {
    color: orange; /* Orange for normal temperature */
}

.temp-high {
    color: green; /* Green for high temperature */
}

.hum-low {
    color: lightblue; /* Light blue for low humidity */
}

.hum-normal {
    color: blue; /* Blue for normal humidity */
}

.hum-high {
    color: darkblue; /* Dark blue for high humidity */
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    border: 1px solid #e0e0e0;
    align-items: center; /* Center horizontally */
    position: relative; /* Make the card relative for the pseudo-element */
    overflow: hidden; /* Hide the icon when it's behind the card */
    transition: all .5s ease; /* Smooth transition on hover */
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}

/* Animal icon that pops up on hover */
.card::before {
    content: "\1F431"; /* Unicode for a cat emoji (you can replace this with other icons) */
    position: absolute;
    top: 100%; /* Initially below the card */
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px; /* Adjust icon size */
    opacity: 0; /* Make the icon invisible initially */
    transition: top 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}

.card:hover::before {
    top: -20px; /* Pop up above the card on hover */
    opacity: 1; /* Make the icon visible */
}


.card h3 {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid black;
}


.card i {
    margin-top:10%;
    font-size: 30px;
}

.gauge-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%; 
    height: auto;
}

canvas {
    width: 100%;
    height: auto;
}

.value {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Smaller font size for values */
    font-weight: bold;
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Responsive grid */
    gap: 0px; 
    margin-top: 20px; 
}

.chart-row {
    width: 100%; 
    margin: 20px 0; 
    position: relative;
}

.chart-title-card {
    background-color: #42221b;
    color: white; 
    padding: 15px; 
    text-align: center; 
    transition: background-color 0.5s; 
}

.chart-title-card h3 {
    margin: 0; 
    font-family: 'PF DinDisplay Pro', sans-serif; 
    font-size: 1.5em; 
}

.chart-title-card:hover {
    background-color: #b48176c9; 
}

.chart {
    height: 200px; 
    width: 100%; 
}

.history{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.history {
    margin: 40px auto;
    max-width: 1400px;
    padding: 20px;
    background-color: #fefbf8;
    border-radius: 10px;
}

.history h2 {
    text-align: center;
    font-size: 2em;
    color: black;
    margin-bottom: 30px;
    border-bottom: 2px solid #42221b;;
    padding-bottom: 10px;
}

.history label {
    display: block;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

#date-select {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #42221b;;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}



@media (max-width: 1024px) {
    body {
        padding-top: 100px; 
        margin: 0px 30px; 
        position:relative;
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        margin: 0 auto;
    }

}


@media (max-width: 768px) {
    body {
        padding-top: 100px; /* Extra padding for small screens */
        margin: 0px 25px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        margin: 0 auto;
    }

    .value {
        font-size: 28px;
    }

    .charts-container {
        display: grid; /* Use grid for layout */
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
        gap: 20px; 
        margin-top: 20px; 
    }
}

@media (max-width: 435px) {
    body {
        padding-top: 130px; /* Extra padding for small screens */
        margin: 0px 20px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        margin: 0 auto;
    }

    .value {
        font-size: 20px;
    }

    .charts-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px; 
        margin-top: 20px; 
    }
}

@media (max-width: 355px) {
    body {
        padding-top: 160px; /* Extra padding for small screens */
        margin: 0px 20px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 10px;
        margin: 0 auto;
    }

    .value {
        font-size: 15px;
    }

    .card h3 {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 0.9em;
        color: #333;
        font-weight: bold;
        border-bottom: 2px solid black;
    }
    .card i {
        font-size: 20px;
    }
}
