@import url('https://fonts.cdnfonts.com/css/pf-dindisplay-pro');

@font-face {
    font-family: 'PFDinDisplayPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/PFDinDisplayPro-Regular.woff');
}

@font-face {
    font-family: 'PFDinDisplayPro-Thin';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/PFDinDisplayPro-Thin.woff');
}


@font-face {
font-family: 'PFDinDisplayPro-Bold';
font-style: normal;
font-weight: normal;
src: url('PFDinDisplayPro-Bold.woff');
}

h1 {
    margin: 0;
    text-align: center;
    background-color: white;
    position: fixed; 
    top: 0;         
    left: 0;       
    right: 0;    
    font-family:'PF DinDisplay Pro', sans-serif;
    z-index: 1000;  
    padding: 10px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'PFDinDisplayPro-Thin', sans-serif;
    margin: 0px 100px 50px 100px;
    padding-top:50px;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
}


.temp-icon {
    color: orange; /* Orange for temperature icon */
}

.hum-icon {
    color: blue; /* Blue for humidity icon */
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.card i {
    margin-top:10%;
    font-size: 30px;
}

.gauge-container {
    display: flex; /* Use flexbox for the gauge container */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    position: relative;
    width: 80%; /* Adjust width as needed */
    height: auto; /* Let height adjust based on content */
}

canvas {
    width: 100%;
    height: auto;
}

.value {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Smaller font size for values */
    font-weight: bold;
}

.charts-container {
    display: grid; /* Use grid for layout */
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); /* Responsive grid */
    gap: 0px; 
    margin-top: 20px; 
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    height: 250px; 
    position: relative; 
}

.chart-title {
    font-size: 1.2em; 
    margin: 0;
    padding: 5px;
}

.left {
    align-self: flex-start; /* Align title to the left */
}

.right {
    align-self: flex-end; /* Align title to the right */
}

.chart {
    padding:10px;
    background-color: white; /* Optional: add a background for the charts */
    width: 100%; 
    height: 200px; 
    max-width: 100%; 
}


@media (max-width: 1024px) {
    body {
        padding-top: 50px; /* Extra padding for small screens */
        margin: 0px 10px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    body {
        padding-top: 100px; /* Extra padding for small screens */
        margin: 0px 10px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 20px;
        margin: 0 auto;
    }

    .card {
        padding: 5px;
    }

    .card i {
        font-size: 30px; /* Reduce icon size */
    }

    .value {
        font-size: 28px;
    }

    .charts-container {
        display: grid; /* Use grid for layout */
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive grid */
        gap: 20px; /* Space between charts */
        margin-top: 20px; /* Space above the charts */
    }
}

@media (max-width: 420px) {
    body {
        padding-top: 120px; /* Extra padding for small screens */
        margin: 0px 10px;  /* Reduce margin for better fit on mobile */
    }

    .dashboard {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
        margin: 0 auto;
    }

    .card {
        padding: 5px;
    }

    .card i {
        font-size: 25px; 
    }

    .value {
        font-size: 20px;
    }

    .charts-container {
        display: grid; /* Use grid for layout */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
        gap: 20px; 
        margin-top: 20px; 
    }
}